
.container{
    width: 50%;
    margin: auto;
}

h2{text-align: center;}

/* Estilos para el formulario */
.form-container {
    background-color: #f4f7fc;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .form-container h2 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .button-container {
    text-align: center;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  

  /* Estilos para la lista de vehículos */

  
  table {
    margin-top: 30px;
    border-collapse: collapse;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #474747;
    color: white;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }



  .btn-warning, .btn-success{
    background-color: #007bff;
  }

  .btn-warning:hover, .btn-success:hover {
    background-color: #0056b3;
  }

  .btn-danger, .btn-secondary{
    background-color: #f80019;
  }

  .btn-danger:hover, .btn-secondary:hover {
    background-color: #c82333;
  }

  
  button {
    color: white;
    margin-right: 10px;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;

  }
  
